<!-- EDUCATION SECTION -->
<section class="container-fluid row education" id="education-section">
  
    <div class="col-lg-3 col-md-4 col-sm-3">
      <h1 class="educationText text-white">
       Educación
      </h1>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">   

<!-- Button trigger logo argentina programa modal -->
    <div class="logoSeProgramar">
      <div>
        <button type="button" class="btn container" data-bs-toggle="modal" data-bs-target="#logoArgentinaProgramaModal">
          <img src="assents/img/logoSeProgramar.png" alt="logo-argentinaPrograma" class="imgLogoSeProgramar" >
        </button>
      </div>
    </div>
<!-- Button trigger logo argentina programa modal -->

<!-- Button trigger logo university of quindio modal -->
    <div class="logoUniversity">
      <div>
        <button type="button" class="btn container" data-bs-toggle="modal" data-bs-target="#logoUniversidadQuindioModal">
          <img src="assents/img/logoUniversidad.png" alt="logo-universidad-quindio" class="imgLogoUniversity">
        </button>
      </div>
    </div>
<!-- Button trigger logo university of quindio modal -->
    </div>
     
    <div class="col-lg-4 col-md-4 col-sm-3"> 

      <div class="SeProgramarText text-white">
        <h4>Certificado #SeProgramar</h4>
        <h5>Buenos Aires, 2022 </h5>
      </div>
    
      <div class="comunicatorText text-white">        
        <h4>Comunicador Social-Periodista</h4>
        <h5>Universidad del Quíndio, 2012 </h5>        
      </div>       

    </div>

    <div class="col-lg-2 col-md-1 col-sm-3">

<!-- pencil edit education section modal -->
    <div class="text-center">
      <button type="button" class="btn pencilEditEducationSection" data-bs-toggle="modal" data-bs-target="#pencilEditEducationSectionModal">
        <i class="fa-solid fa-pencil text-white"></i>
      </button>
    </div>
<!-- pencil edit education section modal -->

<!-- xmark education section modal -->
    <div class="text-center">
      <button type="button" class="btn xMarkEducationSection" data-bs-toggle="modal" data-bs-target="#xMarkEducationSectionModal">
        <i class="fa-lg fa-solid fa-xmark text-white"></i>
      </button>
    </div>
<!-- xmark education section modal -->

<!-- pencil edit education text2 modal -->
    <div class="text-center">
  <button type="button" class="btn pencilEditEducationtext2" data-bs-toggle="modal" data-bs-target="#pencilEditEducationtext2Modal">
    <i class="fa-solid fa-pencil text-white"></i>
  </button>
    </div>
<!-- pencil edit education text2 modal -->

<!-- xmark2 education section modal -->
    <div class="text-center">
  <button type="button" class="btn xMark2EducationSection" data-bs-toggle="modal" data-bs-target="#xMark2EducationSectionModal">
    <i class="fa-lg fa-solid fa-xmark text-white"></i>
  </button>
    </div>
<!-- xmark2 education section modal -->

    </div> 

  </section>
<!--EDUCATION SECTION-->
