  <!--NAVBAR SECTION -->
  <nav class="navbar navbar-expand-lg bg-black" id="navbar-section">
  
    <div class="container-fluid">

        <a class="navbar-brand" href="/index.html">
          <img src="./../../../../../estatico/assets/img/logos.png" alt="logo_Argentina_Programa" class="w-100">
        </a>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><a href="https://github.com/RichardDLB" target="_blank"><i class="fa-2x fa-brands fa-github text-white"></i></a></li>                
          <li class="list-group-item"><a href="https://www.linkedin.com/in/richard-lopez-bolivar-30442b235/" target="_blank"><i class="fa-2x fa-brands fa-linkedin text-white"></i></a></li>
                     
<!-- Button user login trigger modal -->
          <div class="">
            <button type="button" class="btn logoUser" data-bs-toggle="modal" data-bs-target="#UserLoginModal">
              <i class="fa-solid fa-user fa-2xl text-white"></i>
            </button>
          </div>
<!-- Button user login trigger modal -->
        </ul>           

    </div>

  </nav>
<!--NAVBAR SECTION -->
