<!-- SKILLS SECTION -->
<section class="container-fluid skills row" id="skills-section">   
  
    <div>
      <h1 class="col-lg-4  textoSkills text-white">
        Hard & Soft Skills
      </h1>
    </div>
      
        <div class="col-lg-4 col-md-2 col-sm-1 ">
    
    <!-- gráfico circular nivel ingles-->
        <div class="">     
            <h3 class="title_grafico">
              Nivel Ingles
            </h3>
          <div class="container_grafico">
            <div class="grafico"></div>    
            <div class="container_leyenda">
              <span class="leyenda_all">
                <span class="color1"></span>
                  <p class="social">65% Nivel medio</p>
                </span>                       
            </div>        
          </div>
        </div>
    <!-- gráfico circular nivel ingles-->
    
    
    <!-- gráfico circular nivel JS-->
        <div>
          <h3 class="title_grafico1">
            Nivel JS
          </h3>
          <div class="container_grafico">
        <div class="grafico3"></div>    
          <div class="container_leyenda">
            <span class="leyenda_all">
                <span class="color1"></span>
                <p class="social">50% Nivel medio</p>
            </span>                    
          </div>        
          </div>
        </div>
    <!-- gráfico circular nivel JS-->
    
        </div>
    
        <div class="col-lg-4 col-md-2 col-sm-1">
    
    <!-- gráfico circular HTML5-->
        <div>
          <div class="graphHtml5">    
            <h3 class="title_grafico2">
            HTML5
            </h3>
            <div class="container_grafico">
        <div class="grafico1"></div>    
          <div class="container_leyenda">
              <span class="leyenda_all">
                <span class="color1"></span>
                  <p class="social">75% Nivel alto</p>
              </span>                  
          </div>        
            </div>
          </div> 
        </div>
    <!-- gráfico circular HTML5-->
    
        </div>
    
        <div class="col-lg-4 col-md-2 col-sm-1">
    
    <!-- gráfico circular CSS-->
          <div class="graphCss">      
            <h3 class="title_grafico3">
              CSS
            </h3>
            <div class="container_grafico">
        <div class="grafico2"></div>    
          <div class="container_leyenda">
          <span class="leyenda_all">
            <span class="color1"></span>
            <p class="social">75% Nivel alto</p>
          </span>                   
        </div>      
            </div>
          </div>
    <!-- gráfico circular CSS-->
        </div>
        
    </section>
    <!-- SKILLS SECTION -->
