<!--BANNER SECTION-->
<section class="container-fluid row" id="section-Banner">
    <div class="">
<!-- img banner -->
      <div class="sectionBanner">
        <div class="banner">
        </div>
      </div>
<!-- img banner -->

<!-- Pencil edit image banner modal -->
      <div class="pencilEditImgBanner">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#pencilEditImgBanerModal">
          <i class="fa-solid fa-pencil text-white"></i>
          </button>
      </div>
<!-- Pencil edit image banner modal -->

<!--baner text -->
      <div class="">
      <h1 class="text-center intro">
        Hello I'm <br> Richard Lopez
        Full Web Stack Developer
      </h1>
      </div>
<!--baner text -->
    </div>
  </section>
<!--BANNER SECTION-->
