  <!--PRESENTATION SECTION -->
  <section class="container-fluid row presentation" id="presentation-section" > 
  
    <div class="col-lg-4 col-md-4 col-sm-4">

<!-- progile photo -->
    <div class="container text-center profilePhoto">
      <img src="assents/img/fotoPerfil.jpg" alt="profile-photo" class="rounded-circle img-fluid">
      <h3 class="mt-3 text-white">Richard Lopez <br> Developer </h3>
    </div>  
<!-- progile photo -->

<!-- pencil edit profile photo modal -->
    <div class="pencilEditProfilePhoto">
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#pencilEditProfilePhotoModal">
        <i class="fa-solid fa-pencil text-white"></i>
      </button>    
    </div>
<!-- pencil edit profile photo modal -->

<!-- pencil edit text profile photo modal  -->
    <div class="">
      <button type="button" class="btn pencilEditProfilePhototext" data-bs-toggle="modal" data-bs-target="#pencilEditProfilePhototextModal">
        <i class="fa-solid fa-pencil text-white"></i>
      </button>
    </div>
<!-- pencil edit text profile photo modal -->
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="container-fluid textPresentation">
        <h3 class=" text-white text-center ">
        Full Stack Developer Jr, active and motivated by self-learning individually and in groups
        and with a lot of encouragement and love for the new challenges that give me tools for a better
        personal and professional growth.
        </h3>
      </div>

<!-- pencil edit text presentation modal -->
      <div class="">
        <button type="button" class="btn pencilEditPresentationtext" data-bs-toggle="modal" data-bs-target="#pencilEditPresentationtextModal">
          <i class="fa-solid fa-pencil text-white"></i>
        </button>
      </div>
<!-- pencil edit text presentation modal -->

<!-- xmark presentation section modal -->
      <div>
        <button type="button" class="btn xMarkPresentationSection" data-bs-toggle="modal" data-bs-target="#xMarkPresentationSectionModal">
          <i class="fa-lg fa-solid fa-xmark text-white"></i>
        </button>
      </div>
<!-- xmark presentation section modal -->

    </div>

  </section>
<!--PRESENTATION SECTION -->