/* responsive container */
.contenedor{
    width: 100%;
}/* responsive container */


/* SECTION NAVBAR */

/* network background */
.list-group{
    --bs-list-group-bg: transparent;
}/* network background */

/* social media colors */
.fa-2x.fa-brands.fa-github:hover{
    --bs-text-opacity: 1;
    color: rgb(171, 146, 3)!important;
    margin-top: -1rem;
}
.fa-2x.fa-brands.fa-linkedin:hover{
    --bs-text-opacity: 1;
    color: rgb(171, 146, 3)!important;
    margin-top: -1rem;
}
.fa-solid.fa-user.fa-2xl:hover{    
    --bs-text-opacity: 1;
    color: rgb(171, 146, 3)!important;
    margin-top: -1rem;
}/* social media colors */

/* logo user */
.logoUser{
      padding-top: 0.6rem; 
}/* logo user */

/* SECTION NAVBAR */



/* SECTION BANNER */

/* container section banner  */
.sectionBanner{
    width: 100%;
    box-sizing: border-box;
    margin-left: 1%   
}/* container section banner  */

/* pencil edit baner img */
.pencilEditImgBanner{  
    float: right; 
    margin-top: -35%;
}/* pencil edit baner img */

/* img banner */
.banner{    
    height: 550px;    
    background-image: url(/angular/maquetaFrontEnd/assents/img/fotoBaner1.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -7%;    
}/* img banner */

/* text banner */
.intro{
    width: 100%;
    box-sizing: border-box;
    margin-top: -29%;
    font-size: 300%;    
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;     
}/*text banner */

/* SECTION BANNER */



/* PRESENTATION SECTION */

/* presentation sectio */
.presentation{
    width: 100%;   
    box-sizing: border-box;
}/* presentation sectio */

/* text presentation section */
.textPresentation{
    width: 100%;
    margin-top: 7%;
    margin-left: -5%;   
}/* text presentation section */

/* pencil edit text presentation */
.pencilEditPresentationtext{     
    float: right;
    margin-top: -22%;    
}/* pencil edit text presentation */

/* xmark presentation section */
.xMarkPresentationSection{
    float: right; 
    margin-top: -18%;

}/* xmark presentation section */

/* profile photo presentation section */
.profilePhoto{
    width: 70%;
    margin-top: -30%;
    margin-left: 8%;    
}/* profile photo presentation section*/

/* pencil edit profile photo */
.pencilEditProfilePhoto{
    float: right;
    margin-right: 13%;
    margin-top: -55%    
}/* pencil edit profile photo */

/* pencil edit profile photo text */
.pencilEditProfilePhototext{
    float: right;
    margin-top: -23%;
    margin-right: 25%;
}/* pencil edit profile photo text */

/* PRESENTATION SECTION */




/* EXPERIENCE SECTION */

/* experience section */
.experience{
    width: 100%;
    box-sizing: border-box;
    padding-top: 7rem;
}/* experience section */

/* experience text */
.experienceText{
    text-align: right;
    margin-right: -9%;    
}/* experience text */

/* logo Ntn24  */
.logoNtn24{    
    width: 78%; 
    margin-top: -7%;
    float: right; 
    margin-right: -15%;  
}/* logo Ntn24  */

/* img logo Ntn24 */
.imgLogoNtn24{
    width: 100%;
}/* img logo Ntn24 */

/* web editor text */
.webEditorText{ 
    text-align: right; 
    margin-right: -7%;    

}/* web editor text */


/* EXPERIENCE SECTION */




/* EDUCATION SECTION */

/* education section */
.education{
    width: 100%;
    box-sizing: border-box;
    margin-top: 6%;
}/* education section */

/* estilo texto educación seccion educación */
.educationText{   
    text-align: right; 
   margin-right: -2%;  
}/* estilo texto educación seccion educación */

/* image logo se-programar */
.imgLogoSeProgramar{
    width:100%;   
}/* image logo se-programar */

/* logo se-programar */
.logoSeProgramar{
    width: 80%;    
    float: right;
    margin-right: -13%;
}/* logo se-programar */

/* image logo university of quindio */
.imgLogoUniversity{
    width: 100%;   
    margin: 0%;
    background-color: black;    
}/* image logo university of quindio */

/* logo university of quindio */
.logoUniversity{
    width: 40%;
    margin-top: 35%;
    float: right;
    margin-right: -6%;
    
        
}/* logo university of quindio */

/* texto certificate se-programar */
.SeProgramarText{
    text-align: right; 
    margin-right: -7%;  }/* texto certificate se-programar */

/* text university */
.comunicatorText{
    margin-top: 32%;
    text-align: right;
    margin-right: -7%;    
}/* text university */

/* pencil edit education text2 */
.pencilEditEducationtext2{
    margin-top: 60%;   
    
}/* pencil edit education text2 */


/* EDUCATION SECTION */



/* SECCIÓN SKILLS */

/* sección Hard & Soft Skills */
.skills{   
    width: 100%;
    box-sizing: border-box;
    margin-top: 10%;
    margin-right: -15%;  
}/* sección Hard & Soft Skills */

/* texto skills section skills */
.textoSkills{
    text-align: right; 
    margin-left: 1%;  
}/* texto skills section skills */



/* GRAPHIC STYLING SKILLS */


:root{
    --color_skill: #fafbfc;
    --color_noSkill: rgb(171, 146, 3);
    --background-color: rgb(15, 17, 27);
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_grafico{
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;        
}

/* title graphic ingles */
.title_grafico{
    margin-top: 50px;
    text-align: center;
    color: #ffff;
    padding-top: 3rem;    
}/* title graphic ingles */

/* title graphic HTML5 */
.title_grafico1{
    margin-top: 50px;
    margin-left: 33%;
    color: #ffff;
    padding-top: 3rem;
}/* title graphic HTML5 */

/* title graphic CSS */
.title_grafico2{
    margin-top: 50px;
    margin-left: 33%;
    color: #ffff;
    padding-top: 3rem;    
}/* title graphic CSS */

/* title graphic JS */
.title_grafico3{
    margin-top: 50px;
    margin-left: 33%;
    color: #ffff;
    padding-top: 3rem;
}/* title graphic JS */

.grafico{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: conic-gradient(var(--color_skill) 65%,
                                     var(--color_noSkill) 35%);
    box-shadow: 1px, 1px, 5px, 1px, rgb(70, 70, 70); 
}

.grafico1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: conic-gradient(var(--color_skill) 75%,
                                     var(--color_noSkill) 25%);
    box-shadow: 1px, 1px, 5px, 1px, rgb(70, 70, 70); 
}

.grafico2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: conic-gradient(var(--color_skill) 75%,
                                     var(--color_noSkill) 25%);
    box-shadow: 1px, 1px, 5px, 1px, rgb(70, 70, 70); 
}

.grafico3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: conic-gradient(var(--color_skill) 50%,
                                     var(--color_noSkill) 50%);
    box-shadow: 1px, 1px, 5px, 1px, rgb(70, 70, 70); 
}

.leyenda_all{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

[class="color1"]{
    width: 15px;
    height: 15px;
    background-color: var(--color_skill);
    margin-right: 8px;
    border-radius: 3px;   
}

[class="color2"]{
    width: 15px;
    height: 15px;
    background-color: var(--color_noSkill);
    margin-right: 8px;
    border-radius: 3px;
}

.social{
    color: #fff;    
    line-height: 0.5;
    margin-top: 16px; 
}


/* GRAPHIC STYLING SKILLS */
/* SECCION SKILLS */


/* SECCIÓN PROYECTOS */

/* section projects */
.projects{
    width: 100%;
    box-sizing: border-box;
    margin-top: 8%;
}/* section projects */

/* text projects */
.textProjects{   
    text-align: right; 
    margin-top: 12%;    
}/* text projects */

/* text description project */
.textDescription{
    margin-top: 20%;
    text-align: left;     
}/* text description project */


/* image gallery */
#galeria img{
    width: 100%;
    height: 250px;
}
#galeria.col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}
#galeria img:hover{
    border: 5px solid black;
}/* image gallery */

/* SECCIÓN PROYECTOS */


/* SECCION FOOTER */

/* footer */
.footeralfondo{
    margin-top: 10%;
    text-align: center;
}/* footer */

/* SECCION FOOTER */


/* STILOS PÁGINA LOGIN */

/* espacio del formulario 100% */
.login{
    height: 82vh;
}/* espacio del formulario 100% */

/* espacio formulario */
.formulariologin{
    margin-top: 15%;
}/* espacio formulario */

/* STILOS PÁGINA LOGIN */
